  @model Bio

<header>
        <navbar>
            <nav class="navbar navbar-expand-lg navbar-light ">
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-home me-auto mb-2 mb-lg-0">
                      <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Special Dishes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                        
                      <div class="container-fluid">
                            <img src="~/assets/img/@Model.Image" alt="" width="30" height="24" class=" logo-img">
                       
                           </div>
                      <li class="nav-item right">
                        <a class="nav-link active" aria-current="page" href="#">Menu</a>
                      </li>
                      <li class="nav-item right">
                        <a class="nav-link active" aria-current="page" href="#">Team</a>
                      </li>
                      <li class="nav-item right">
                        <a class="nav-link active" aria-current="page" href="#">Reservation</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                        <a id="side-search-open" class="nav-link" href="https://www.free-css.com/free-css-templates"><span class="lnr lnr-magnifier"></span></a>
                      <span class="lnr lnr-magnifier"></span>
                    </form>
                  </div>
                </div>
              </nav>
        </navbar>
    </header>