@model Menu
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}

<h5>@Model.Image</h5>
<h5>@Model.SubTitle</h5>
<h5>@Model.Title</h5>
<h5>@Model.Price</h5>

