 @model Bio
 
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4 " style="margin-top: 30px;">
                <img src="~/assets/img/@Model.Image" style="width: 30%;" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et obcaecati quisquam id sit omnis explicabo voluptate aut placeat, soluta, nisi ea magni facere, itaque incidunt modi? Magni, et voluptatum dolorem.
                </p>
            <a href="@Model.Facebook">    <i class="fa-brands fa-facebook-f"></i></a>
                <a href="@Model.Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="@Model.Instagram"><i class="fa-brands fa-instagram"></i></a>
             </div>

             <div class="col-4 " >
              <h5>Open Hours</h5>
              <div class="container">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Monday</li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>
                            <li>Saturday</li>
                            <li>Sunday</li>
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul>
                            <li>9:00 - 24:00</li>
                            <li>9:00 - 24:00</li>
                            <li>9:00 - 24:00</li>
                            <li>9:00 - 24:00</li>
                            <li>9:00 - 02:00</li>
                            <li>9:00 - 02:00</li>
                            <li>Closed</li>
                        </ul>
                      </div>
                </div>
              </div>
               
             </div>

             <div class="col-4 " >
                <h5>Newsletter</h5>
                  <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 
                  <form>
                    <div class="mb-3 " style="width: 80%;">
                      <input type="email" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                     
                    </div>
                   
                    <button type="submit" class="btn btn-danger" style="width: 80%;">Submit</button>
                  </form>
                
                  
               </div>
               <span  > Copyright 2045. All Rights Reserved. Design by <a href="" style="color: red;text-decoration: none;">@Model.Author</a></span>
               
        </div>
    </div>
        
          
       
    </footer>
